Fluxosn8n/Patrocinio_Recarga_de_disparos.json
{
  "name": "Patrocinio Recarga de disparos",
  "nodes": [
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1680,
        1500
      ],
      "id": "a1751dde-123e-486e-aa22-63414f44c08b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf088744-6a6e-441b-8903-c6c8df4ec50d",
              "leftValue": "={{ $json.responde }}",
              "rightValue": "nao ",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1920,
        1620
      ],
      "id": "0f8c31f3-ff48-4c6d-824f-4af2909614b0",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 03 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2480,
        1580
      ],
      "id": "715dad3a-eff3-40a3-9163-6aadea8464c3",
      "name": "Primeiro"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "50",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4b3ed11c-5fb4-4804-aaaa-398be1a5c58b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Natalia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "200ef249-a13f-4d76-89c7-0e1a8139b134",
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "25",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ludmila"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3e04aaa-e080-442a-98cb-9d9bb089e7c0",
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Talita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a1afc0f-9a60-4b1d-943b-8bdfcafb37d8",
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "25",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stefany"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58134510-4b4d-4bf4-8f03-540832e9a89f",
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "23",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Henrique"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69ab1e8a-e6c4-43db-8ebb-548660f2802b",
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "35",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "35"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6b3055f-2955-49c2-84f0-32dfc0a8c7e4",
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "40",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "40"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "693cd52a-87c7-4da3-9dcc-a0e24e29b658",
                    "leftValue": "={{ $('Primeiro').item.json.Minute }}",
                    "rightValue": "45",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "45"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -520,
        1740
      ],
      "id": "5fca611a-b494-45b7-a599-ea1571ba2f76",
      "name": "Switch1"
    },
    {
      "parameters": {
        "amount": "={{ $json.waitTime }}\n\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1640,
        1320
      ],
      "id": "9c5d9100-c4b1-472a-8fc3-aecfde3ac6e8",
      "name": "Wait1",
      "webhookId": "a118cb18-f818-4831-9a5e-d00a010e4e67"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    item.json.waitTime = Math.floor(Math.random() * (7 - 3 + 1)) + 3;\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1800,
        1320
      ],
      "id": "d08f9853-c25f-4920-9188-a9db9b15e9de",
      "name": "Code4"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1520,
        1720
      ],
      "id": "2c899bfe-a319-4aef-99bf-aeec44bc2b52",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MNDX0AirJe0sHwM3WNrZcEAUMEFXwgxyWQB3qq_JrhY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MNDX0AirJe0sHwM3WNrZcEAUMEFXwgxyWQB3qq_JrhY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numero": "={{ $('Switch1').item.json.Numero }}",
            "Enviado": "sim"
          },
          "matchingColumns": [
            "Numero"
          ],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Numero",
              "displayName": "Numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respondeu",
              "displayName": "Respondeu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        160
      ],
      "id": "e53b5a9d-1051-4d36-adf1-b62903bcfa79",
      "name": "Google Sheets",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": "={{ $json.waitTime }}\n\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        20
      ],
      "id": "b42934da-2205-4f7e-ad92-2a4006caeffa",
      "name": "Wait3",
      "webhookId": "72a5d173-a410-45a7-9c7c-acd25980be62",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    item.json.waitTime = Math.floor(Math.random() * (7 - 3 + 1)) + 3;\n    return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f97d4a85-5af1-4994-b933-b30fbac2d20f",
      "name": "Code2",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MNDX0AirJe0sHwM3WNrZcEAUMEFXwgxyWQB3qq_JrhY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lista",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MNDX0AirJe0sHwM3WNrZcEAUMEFXwgxyWQB3qq_JrhY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2720,
        1980
      ],
      "id": "95a05e2b-53cd-4d6f-bcca-c1b948bfc734",
      "name": "Leitura de dados1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0d7LqZ2rMRr5Z1EJ",
          "name": "Acesso a planilha do sheetes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "55 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "58 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "01 13 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "05 13 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "10 13 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "38 06 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "03 07 * * *"
            },
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2900,
        1980
      ],
      "id": "c5074700-03f8-412b-9329-8d32ba4fb62a",
      "name": "Primeiro1",
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "patrociniodisparos",
          "mode": "list",
          "cachedResultName": "patrociniodisparos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.Numero }}",
            "nome": "={{ $json.Nome }}",
            "enviou": "={{ $json.Enviado }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendedor",
              "displayName": "vendedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviou",
              "displayName": "enviou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2440,
        1980
      ],
      "id": "e0d51bc0-8321-49cf-9d4f-def1ba990cac",
      "name": "Postgres5",
      "credentials": {
        "postgres": {
          "id": "0MKV1xl5BucK90QG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "patrociniodisparos",
          "mode": "list",
          "cachedResultName": "patrociniodisparos"
        },
        "limit": 40000,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2180,
        1580
      ],
      "id": "2abb774c-1e33-4705-8227-7c965d8801c5",
      "name": "Postgres6",
      "credentials": {
        "postgres": {
          "id": "0MKV1xl5BucK90QG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "patrociniodisparos",
          "mode": "list",
          "cachedResultName": "patrociniodisparos"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1360,
        1380
      ],
      "id": "6ac0d663-4081-4745-be2d-ec46a6455d83",
      "name": "Postgres7",
      "credentials": {
        "postgres": {
          "id": "0MKV1xl5BucK90QG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clientes_disparos",
          "mode": "list",
          "cachedResultName": "clientes_disparos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_cliente": "={{ $json.numero_cliente }}",
            "nome_vendedor": "Talita",
            "id": "={{ $json.numero_cliente }}",
            "data": "={{ new Date().toISOString().split('T')[0] }}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_vendedor",
              "displayName": "nome_vendedor",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "responde",
              "displayName": "responde",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        320,
        920
      ],
      "id": "cbaa2f51-38d2-4d22-af5c-7ff6be109a60",
      "name": "Talita",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clientes_disparos",
          "mode": "list",
          "cachedResultName": "clientes_disparos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_cliente": "={{ $json.numero_cliente }}",
            "nome_vendedor": "Stefani",
            "id": "={{ $json.numero_cliente }}",
            "data": "={{ new Date().toISOString().split('T')[0] }}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_vendedor",
              "displayName": "nome_vendedor",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "responde",
              "displayName": "responde",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        340,
        1000
      ],
      "id": "6a034b02-a2d1-4f14-b000-be8901bbf955",
      "name": "Stefani",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clientes_disparos",
          "mode": "list",
          "cachedResultName": "clientes_disparos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_cliente": "={{ $json.numero_cliente }}",
            "nome_vendedor": "Henrique",
            "id": "={{ $json.numero_cliente }}",
            "data": "={{ new Date().toISOString().split('T')[0] }}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_vendedor",
              "displayName": "nome_vendedor",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "responde",
              "displayName": "responde",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        340,
        1120
      ],
      "id": "5d40f9e0-7105-42f5-bca6-249ae4b52e49",
      "name": "Henrique",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "vendedoresPatrocinio",
          "mode": "list",
          "cachedResultName": "vendedoresPatrocinio"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}",
            "vendedor": "base",
            "enviou": "={{ $json.enviou }}",
            "data": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendedor",
              "displayName": "vendedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "enviou",
              "displayName": "enviou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "respodeu",
              "displayName": "respodeu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -600,
        640
      ],
      "id": "24b0306c-6115-412c-b5b8-33c164af6ca1",
      "name": "joao",
      "credentials": {
        "postgres": {
          "id": "0MKV1xl5BucK90QG",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clientes_disparos_Uberlandia",
          "mode": "list",
          "cachedResultName": "clientes_disparos_Uberlandia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome_vendedor": "Karita",
            "data": "={{ new Date().toISOString().split('T')[0] }}\n",
            "numero_cliente": "={{ $json.numero_cliente }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_vendedor",
              "displayName": "nome_vendedor",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "responde",
              "displayName": "responde",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -360,
        780
      ],
      "id": "a8945742-d0f9-4ae1-b2c7-59e5ffe2508a",
      "name": "Karita",
      "disabled": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeiro": {
      "main": [
        [
          {
            "node": "Postgres6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Karita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Talita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stefani",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Henrique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Postgres7",
            "type": "main",
            "index": 0
          },
          {
            "node": "joao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeiro1": {
      "main": [
        [
          {
            "node": "Leitura de dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leitura de dados1": {
      "main": [
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "joao": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Karita": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b92152b-a888-449a-96bd-071c82cc0d5f",
  "meta": {
    "instanceId": "f763e8fdca77702870cf690f15089984a3c3202426ce948f8e26feb070a0b4a8"
  },
  "id": "f63ND8R1mt41cFrK",
  "tags": []
}